@import 'variables';
@import 'globals';

header{
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    h1{
        color: $secondary-color;
        font-size: 36px;
    }

    nav{
        span{
            font-size: 20px;
            color: $secondary-color;
            margin: 0 10px;
        }
    }
}